.footer {
   display: flex;
   flex-direction: column;
   background-color: pink;
    width: 100%;
    margin-left: 0%;
    margin-top: 20px ;
    margin-bottom: 40px ;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 10px 15px;
    
}
.meetDevs{
    display: flex;
    flex-direction: row;
    padding-left: 145px;
}